/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
   background-color: rgb(196, 248, 255);
   display: block;
   font: snazzy;
   color: rgb(0, 162, 255);
   font-size: 15px;
   text-align: center;
   box-sizing: content-box;
}

.main-logo {
   font-size: 60px;
}

div p1 {
   color: red;
}

div p2 {
   color: green;
   display: flex;
   padding-bottom: 5px;
}

input[value="Sign Out"] {
   display: flex;
}

.links .button {
   padding: 10px;
   display: block;
}

.button {
   text-decoration: none;
   padding: 10px;
   border-radius: 5px;
   border: none;
   background-color: skyblue;
   margin-bottom: 20px;

   &:hover {
      color: white;
      background-color: dodgerblue;
      cursor: pointer;
   }
}

input[type="submit"] {
   padding: 10px;
   border-radius: 5px;
   border: none;
   background-color: skyblue;
   margin-bottom: 20px;

   &:hover {
      color: white;
      background-color: dodgerblue;
      cursor: pointer;
   }
}



