<h1><%= @sub.name %></h1>

  <b>Description</b>
  <p><%= @sub.description %></p>

  <a href="<%= new_post_url %>">New Post</a>

  <a href="<%= edit_sub_url(@sub) if @sub.owner == current_user %>">Edit</a>
