<h2>Sign In</h2>

<a href= <%= new_user_url %> >Sign-up!</a>

<form action="<%= session_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <p>
    <label for='new-user-email'>Email <br></label>
    <input id='new-user-email' type="text" name="user[email]">
  </p>

  <p>
    <label for='new-user-password'>Password <br></label>
    <input id='new-user-password' type="password" name="user[password]">
  </p>

  <input type="submit">
</form>
